#upload_menu {
  float: right;
  width: 300px;
}

#document_listing {
  width: 75%;
}

#document_table {
    width: 100%;
}

table {
    border:0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

th {
    background-color: #FFFFFF;
}

tr:nth-child(odd) {
    background-color: #f2f2f2
}

td {
    padding: 0 0 0 0;
}

td.timestamp {
    width: 5%;
    text-align: center;
}

td.actions {
    width: 10%;
    text-align: center;
}

td.tag-frequency {
    width: 85%;
}

.tag-chart {
    height: 120px;
}
